autom4te.cache
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltsugar.m4
Makefile.in
fficonfig.h.in

compile
config.guess
config.sub
depcomp
install-sh
local.exp
libtool
ltmain.sh
mdate-sh
missing
configure

config.log
config.status
stamp-h1
*~
libffi.pc
Makefile

.libs
.deps
*.o
*.lo
*.la
.dirstamp
fficonfig.h
include/ffi.h
include/ffitarget.h
libffi*gz
libffi.xcodeproj
ios

.settings
.autotools
